:root {
    --background-color: #fff;
    --accent-color: #fe2c55;
    --text-color: #161823;
    --accent-text-color: #fff;
    --border-color: #345A59;
}

body {
    height: 100%;
}

header {
    height: 6vh;
    color: var(--text-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#button_wrapper {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

#button_wrapper input {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
    border: none;
    font-size: x-large;
    padding: 10px;
    margin: 1px;
}
#button_wrapper input:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}